<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css">
  <style>
    .btn-user {
      color: #ffffff;
      background-color: #428BCA;
      border-color: #428BCA;
    }

    .btn-user:hover,
    .btn-user:focus,
    .btn-user:active,
    .btn-user.active,
    .open .dropdown-toggle.btn-user {
      color: #ffffff;
      background-color: #104E85;
      border-color: #428BCA;
    }

    .btn-user:active,
    .btn-user.active,
    .open .dropdown-toggle.btn-user {
      background-image: none;
    }

    .btn-user.disabled,
    .btn-user[disabled],
    fieldset[disabled] .btn-user,
    .btn-user.disabled:hover,
    .btn-user[disabled]:hover,
    fieldset[disabled] .btn-user:hover,
    .btn-user.disabled:focus,
    .btn-user[disabled]:focus,
    fieldset[disabled] .btn-user:focus,
    .btn-user.disabled:active,
    .btn-user[disabled]:active,
    fieldset[disabled] .btn-user:active,
    .btn-user.disabled.active,
    .btn-user[disabled].active,
    fieldset[disabled] .btn-user.active {
      background-color: #428BCA;
      border-color: #428BCA;
    }

    .btn-user .badge {
      color: #428BCA;
      background-color: #ffffff;
    }
  </style>
  <title>{{room.room_code}} | FilePost</title>
  </head>

<body>
  <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <div class="navbar-brand">
        <img class="fa d-inline fa-lg" src="https://i.imgur.com/DYiDSzF.png&quot;" width="25" height="25"><b> FilePost</b></div>
    </div>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">{{room.room_code}}</h1>
          <p class="lead text-center">Share this room code with your friends!</p>
          <div class="p-3 bg-light">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                <marked>

                  {% if (room.users|length == 1) %}
                  <!-- 1 Element !-->
                  <div class="row">
                    <div class="text-center col-md-4"></div>
                    <div class="col-md-4 text-center">
                      <img class="img-fluid d-block mx-auto p-2" src="https://i.imgur.com/BukXlhd.png" width="80" height="80">
                      <button class="btn btn-user text-center btn-sm" id="user1" type="button" name="button" value="{{room.users[0]}}">{{room.users[0]}}</button>
                    </div>
                    <div class="text-center col-md-4"></div>
                  </div>
                  {% endif %}
                  <!-- 2 Elements !-->
                  {% if (room.users|length == 2) %}
                  <div class="row">
                    <div class="text-center col-md-4"></div>
                    <div class="text-center col-md-2">
                      <img class="img-fluid d-block mx-auto p-2" src="https://i.imgur.com/BukXlhd.png" width="80" height="80">
                      <button class="btn btn-user text-center btn-sm" id="user1" type="button" name="button" value="{{room.users[0]}}">{{room.users[0]}}</button>
                    </div>
                    <div class="text-center col-md-2">
                      <img class="img-fluid d-block mx-auto p-2" src="https://i.imgur.com/OBjMpY9.png" width="80" height="80">
                      <button class="btn btn-user text-center btn-sm" id="user2" type="button" name="button" value="{{room.users[1]}}">{{room.users[1]}}</button>
                    </div>
                    <div class="text-center col-md-4"></div>
                  </div>
                  {% endif %}
                  <!-- 3 Elements !-->
                  {% if (room.users|length == 3) %}
                  <div class="row">
                    <div class="text-center col-md-3"></div>
                    <div class="col-md-2 text-center">
                      <img class="img-fluid d-block mx-auto p-2" src="https://i.imgur.com/BukXlhd.png" width="80" height="80">
                      <button class="btn btn-user text-center btn-sm" id="user1" type="button" name="button" value="{{room.users[0]}}">{{room.users[0]}}</button>
                    </div>
                    <div class="col-md-2 text-center">
                      <img class="img-fluid d-block mx-auto p-2" src="https://i.imgur.com/OBjMpY9.png" width="80" height="80">
                      <button class="btn btn-user text-center btn-sm" id="user2" type="button" name="button" value="{{room.users[1]}}">{{room.users[1]}}</button>
                    </div>
                    <div class="col-md-2 text-center">
                      <img class="img-fluid d-block mx-auto p-2" src="https://i.imgur.com/rpJeoUp.png" width="80" height="80">
                      <button class="btn btn-user text-center btn-sm" id="user3" type="button" name="button" value="{{room.users[2]}}">{{room.users[2]}}</button>
                    </div>
                    <div class="text-center col-md-3"></div>
                  </div>
                  {% endif %}
                  <!-- 4 Elements !-->
                  {% if (room.users|length == 4) %}
                  <div class="row">
                    <div class="col-md-2 text-center"></div>
                    <div class="col-md-2 text-center">
                      <img class="img-fluid d-block mx-auto p-2" src="https://i.imgur.com/BukXlhd.png" width="80" height="80">
                      <button class="btn btn-user text-center btn-sm" id="user1" type="button" name="button" value="{{room.users[0]}}">{{room.users[0]}}</button>
                    </div>
                    <div class="col-md-2 text-center">
                      <img class="img-fluid d-block mx-auto p-2" src="https://i.imgur.com/OBjMpY9.png" width="80" height="80">
                      <button class="btn btn-user text-center btn-sm" id="user2" type="button" name="button" value="{{room.users[1]}}">{{room.users[1]}}</button>
                    </div>
                    <div class="col-md-2 text-center">
                      <img class="img-fluid d-block mx-auto p-2" src="https://i.imgur.com/rpJeoUp.png" width="80" height="80">
                      <button class="btn btn-user text-center btn-sm" id="user3" type="button" name="button" value="{{room.users[2]}}">{{room.users[2]}}</button>
                    <div class="col-md-2 text-center">
                      <img class="img-fluid d-block mx-auto p-2" src="https://i.imgur.com/GmNHKP7.png" width="80" height="80">
                      <button class="btn btn-user text-center btn-sm" id="user4" type="button" name="button" value="{{room.users[3]}}">{{room.users[3]}}</button>
                    </div>
                  </div>
                  {% endif %}

                </marked>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="p-3 bg-light">
            <div class="container">

            <!-- Form !-->
            <form id="upload" action="#" method="POST" enctype="multipart/form-data">
              <div class="row">
                <div class="p-3 align-self-center col-md-8">
                  <input id="file" type="file" name="file"/>
                  <input name="receive" id="hidden_info" type="text" value="hi" style="display:none"/>
                </div>
                <div class="p-3 align-self-center col-md-4">
                  <input id="submit" class="btn w-100 btn-primary" type="submit" value="Upload File"/>
                </div>
              </div>
            </div>
            </form>


          </div>
        </div>
      </div>
      <br>


      {% for filename, receivers in room.fileSend.items() %}
        {% for receiver in receivers %}
          {% if (user_id != room.fileDict[filename]) %}
            {% if (user_id == receiver) %}
            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-primary" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                  <h5 class="alert-heading text-center">{{ room.fileDict[filename] }} has sent you {{ filename }}</h5>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <a class="btn btn-success" href="/files/{{room.room_code}}_{{filename}}" download>Download</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
          {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <script src="https://rawgit.com/emn178/js-md5/master/build/md5.min.js"></script>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script>
  $(document).ready(function() {


  $("div marked button").click(function() {
    $(this).toggleClass("active");
  });
  $("#submit").click(function() {
      var elements = document.querySelectorAll("div marked button");
      var len = elements.length;
      var receivers = "";
      var all = "";
      var count = 0;
      for (var i = 0; i < len; i++) {
        elemid = "#user" + (i+1);//'{{room.users[i]}}';//$(elements[i]).attr('id');
        //$(alert('{{room.users[i]}}'));
        if ($(elemid).hasClass("active")) {
          receivers += $(elements[i]).val() + ",";

          //receivers.push($(elements[i]).val());
          count += 1;
        }
        all += $(elements[i]).val() + ",";
        //all.push($(elements[i]).val());
      } //$(alert(receivers));

      if (count == 0) {
        //var json_string = JSON.stringify(all);
        var string = all;
        //var json_string = JSON.stringify(all, null, '/t');
      } else {
        //var json_string = JSON.stringify(receivers);
        var string = receivers;
        //var json_string = JSON.stringify(receivers, null, '/t');
      }

      $("#hidden_info").val(string);



    //   $.post('/HELLO',
    //   {
    //       name: "Donald Duck",
    //       city: "Duckburg"
    //   },
    //   function(data, status){
    //       alert("Data: " + data + "\nStatus: " + status);
    //   });
    // )
      // $.ajax({
      //   type: 'POST',
      //   contentType: "application/json",
      //   url: url,
      //   dataType: 'json',
      //   data: JSON.stringify({
      //   'foo': 'bar',
      //   'calibri': 'nolibri' // <-- the $ sign in the parameter name seems unusual, I would avoid it
      // }),
      //   success: function() {
      //     $(alert("It sends"));
      //   },
      //   error: function() {
      //     $(alert(":("));
      //   }
      //
      // });


      // document.getElementById("#submit_receivers").submit();



      // $.ajax({
      //   type: "POST",
      //   url: '/HELLO',// + room.room_code,//window.location.href,//'localhost:5000/' + room.room_code,
      //   data: JSON.stringify({"hello": "value"}),
      //   contentType: "application/json;charset=UTF-8",
      //   dataType: 'json'
      //});
  });



});
  // $(document).ready(function() {
  //
  //   /*$("button").click(function() {
  //     if (this.style.backgroundColor != "aqua") {
  //       $(this).css("background-color", "aqua");
  //     } else {
  //       $(this).css("background-color", "silver");
  //     }
  //   });*/
  //   $(alert("hello"));
  //   $("button").click(function () {
  //       $(this).toggleClass("active");
  //   });
  //
  //   /*$("button").click(function() {
  //   if (this.style.backgroundColor != "aqua") {
  //     $(this).css("background-color", "aqua");
  //   } else {
  //     $(this).css("background-color", "silver");
  //   }*/
  //
  // $("#submit").click(function() {
  //     var elements = document.querySelectorAll("button");
  //     $(alert(elements));
  //     var len = elements.length;
  //     $(alert("hi"));
  //     var receivers = "";
  //     var all = "";
  //     var count = 0;
  //     for (var i = 0; i < len; i++) {
  //       if (elements[i].hasClass("active")) {
  //         //receivers.push($(elements[i]).val());
  //         receivers += $(elements[i]).val() + ",";
  //         $(alert(elements[i]).val()));
  //         count += 1;
  //       }
  //       all += $(elements[i]).val() + ",";
  //       //all.push($(elements[i]).val());
  //     } //$(alert(receivers));
  //     if (count == 0) {
  //       //var json_string = JSON.stringify(all);
  //       var string = receivers;
  //       //var json_string = JSON.stringify(all, null, '/t');
  //     } else {
  //       //var json_string = JSON.stringify(receivers);
  //       var string = all;
  //       //var json_string = JSON.stringify(receivers, null, '/t');
  //     }
  //     //$(alert("hi"));
  //     //$(alert(json_string));
  //     $("#hidden_info").val(string);
  //     //$(alert("hi"));
  //   });
  // });

</script>
</body>

</html>
